/ch14_ex1_email/build/
/ch14_ex1_email/nbproject/private/
/ch16_ex1_admin/nbproject/private/
/ch17_ex1_password/build/
/ch17_ex1_password/nbproject/private/
/ch18_ex1_http/build/
/ch18_ex1_http/nbproject/private/
/ch19_ex1_cart/nbproject/private/
/ch20_ex1_download/nbproject/private/
/ch21_ex1_email/nbproject/private/
/ch23_ex1_musicStore/build/
/ch23_ex1_musicStore/dist/
/ch23_ex1_musicStore/nbproject/private/
/ch23_ex2_musicStoreJPA/build/
/ch23_ex2_musicStoreJPA/nbproject/private/